body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background: rgb(243, 249, 255);
}

a {
  color: rgb(59, 131, 244);
}

article {
  border: 1px solid #ccc;
  padding: 10pt;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 14px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

img#avatar {
  border-radius: 50%;
  height: 75px;
}

section#profile {
  display: flex;
  align-items: center;
}

.display-name {
  margin-left: 10px; /* adjust the margin as needed */
}
.display-name > h1 {
  font-size: 17px;
  letter-spacing: 0.25px;
  font-weight: 700;
  color: #000;
  line-height: 20.4px;
  margin: 0;
}

.display-name > h1 > span.relative-date {
  font-size: 10pt;
  color: rgb(84, 86, 100);
  font-weight: normal;
}

.display-name > h2 {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 400;
  color: rgb(84, 86, 100);
  margin: 0;
}

section#body {
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #000;
  font-weight: 400;
}

section#images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

section#images > img {
  max-width: 100%;
  height: auto;
}

section.quoted-post {
  border: 1px solid #ccc;
  padding: 10pt;
  margin: 10pt 0pt;
}

div.external-link {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow: hidden;
}

div.external-link img,
div.external-link p {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

div.external-link a {
  text-decoration: none;
}

div.external-link p {
  font-size: 15px;
  line-height: 20px;
  color: #000;
  margin: 0pt 5pt;
}

div.external-link p.headline {
  margin-top: 10px;
}
div.external-link p:last-child {
  padding-bottom: 10px;
}

div.external-link p.url {
  color: rgb(84, 86, 100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.user-profile {
  display: flex;
  align-items: center;

  .display-name > h1 {
    font-size: 14px;
    letter-spacing: 0.25px;
    font-weight: 700;
    color: #000;
    line-height: 10px;
    margin: 0;
  }

  .display-name > h2 {
    font-size: 15px;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: rgb(84, 86, 100);
    margin: 0;
  }

  .display-name > h1 > span.relative-date {
    font-size: 10pt;
    color: rgb(84, 86, 100);
    font-weight: normal;
  }
}

div.user-profile > img.avatar {
  border-radius: 50%;
  height: 50px;
}

section.quoted-post > p.body-text {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 25px;
  color: #000;
  font-weight: 400;
  margin: 0pt;
  margin-top: 8pt;
}

section#date {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 400;
  color: rgb(84, 86, 100);
  padding: 8px 0px;
}

section#meta {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 400;
  color: rgb(84, 86, 100);
  padding: 8px 0px;
}

#meta > span {
  margin-right: 10px;
}

footer {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 0px;
}

footer > p {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: rgb(84, 86, 100);
}

footer > p > a {
  color: rgb(84, 86, 100);
}

@media (max-width: 767px) {
  main {
    width: 100%;
  }

  article {
    border: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(34, 34, 34);
  }

  article {
    background: rgb(0, 0, 0);
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.3);
  }

  a,
  footer > p > a {
    color: rgb(230, 237, 243);
  }

  a:hover,
  footer > p > a:hover {
    color: rgb(59, 131, 244);
  }

  .display-name > h1 {
    color: rgb(230, 237, 243);
  }

  section#body {
    color: rgb(230, 237, 243);
  }

  .display-name > h2,
  section#meta,
  section#date,
  footer > p {
    color: rgb(124, 133, 144);
  }

  section.quoted-post {
    border-color: rgba(255, 255, 255, 0.3);
    padding: 10pt;
    margin: 10pt 0pt;
  }

  div.user-profile {
    .display-name > h1 {
      color: rgb(230, 237, 243);
    }

    .display-name > h2 {
      color: rgb(124, 133, 144);
    }

    .display-name > h1 > span.relative-date {
      color: rgb(124, 133, 144);
    }
  }

  section.quoted-post > p.body-text {
    color: rgb(230, 237, 243);
  }

  div.external-link p {
    color: rgb(230, 237, 243);
  }

  div.external-link p.url {
    color: rgb(124, 133, 144);
  }
}
